.continue-reading{

  display:inline-block;
  position:relative;
  @include font("DecimaMono", 18px);

  &::before{
    border: 3px solid #C3ECF0;
    content: "";
    left: 0px;
    position: absolute;
    width: 172px;
    height: 0px;
    top: 5px;
    z-index: 1;
    @include transition(all 400ms $easing);
  }

  &:hover{

    &::before{
      height: 31px;
      left: -5px;
      top: -8px;
      width: 185px;
    }

  }

  span{
    position:relative;
    z-index:2;
  }

}