.title{

  display:inline-block;
  @include font("DecimaMono", 24px, 400, 25px);

  span{
    border: 2px solid $black;
    color: $black;
    display:block;
    height:31px;
    min-width:119px;
    padding-top:1px;
  }

  span + span{
    margin-top: 4px;
  }

}