[bio-container]{

  background-color: $grey;
  position:relative;
  padding-bottom: 145px;
  padding-top:165px;

  @media #{$medium-up}{
    padding-top:350px;
  }

  .white-bg-container{
    background-color: $white;
    overflow:hidden;
    position:absolute;
    height: 445px;
    top:-220px;
    left:0;
    right:-60px;
    @include rotate(10deg);

    .more-container{
      @include rotate(-10deg);

      .small-12{
        text-align:center;
      }

      [button]{
        position:relative;
        margin-left: -100px;
        top:10px;
      }
    }

    .birds{
      position:absolute;
      height:150px;
      width: 400px;
      right:0;
      bottom:100px;
      z-index:2;
      @include opacity(0.2);
    }

    .mountains{
      position:absolute;
      right:-20px;
      bottom:-50px;
      z-index:1;

      @media #{$medium-up}{
        bottom: -150px;
      }

      @include transform(rotate(-10deg));
    }

  }

  .bio-content-row{
    margin-top: 60px;
  }

  .subtitle{
    color: $darkgrey;
    text-transform: uppercase;
    @include font("DecimaMono", 16px, 400, 20px);
    a{
      color: $black;
      border-bottom: 2px solid $black;
      padding-bottom: 3px;
    }
  }

  h4{
    border-bottom: 3px solid $blue;
    color: $black;
    display:inline-block;
    margin-bottom:35px;
    padding-bottom:10px;
    @include font("DecimaMono", 32px, 400);
  }

  p{
    color: $black;
    @include font("Erato", 18px, 400, 29px);
  }

  .signature{
    color: $black;
    display:block;
    position:relative;
    margin-left: 70px;
    margin-top:100px;
    @include font("Ripley", 64px, 400);
  }

  .birds{
    bottom:0;
    position:absolute;
    right:-20;
  }

}