[blue-header]{

  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100%;

  @include background-image($blue-gradient);

  .bg{
    top:-40px;
    width:65%;
    position:relative;

    @media #{$medium-up}{
      top:34px;
    }

    @include opacity(0);
    @include transform(translate3d(-10px, 65px, 0));
    @include transition(all 700ms $easing);
  }

  .logo{
    display:none;
    height: 122px;
    position:absolute;
    top: 40px;
    left:40px;
    width: 122px;
    @include opacity(0);
    @include transform(translate3d(10px, 0, 0));
    @include transition(all 700ms $easing);
  }

  @media #{$medium-up}{
    .bg{
      @include transform(translate3d(-10px, -55px, 0));
    }
    .logo{
      display:block;
    }
  }

}

[blue-header].animated-in{

  .bg{
    @include opacity(1);
    @include transform(translate3d(0, 65px, 0));
  }

  .logo{
    @include opacity(1);
    @include transform(translate3d(0, 0, 0));
  }

  @media #{$medium-up}{
    .bg{
      @include transform(translate3d(0, -55px, 0));
    }
  }

}

