[blue-header]{

  height: 150px;

  @media #{$medium-up}{
    height: 360px;
  }

  @include background-image($blue-gradient);

  img{
    width:65%;
    @include opacity(0);
    @include transform(translate3d(-10px, 65px, 0));
    @include transition(all 700ms $easing);
  }

  @media #{$medium-up}{
    img{
      @include transform(translate3d(-10px, -55px, 0));
    }
  }

}

[blue-header].animated-in{

  img{
    @include opacity(1);
    @include transform(translate3d(0, 65px, 0));
  }

  @media #{$medium-up}{
    img{
      @include transform(translate3d(0, -55px, 0));
    }
  }

}

