[blue-header]{

  position:absolute;
  top:0;
  left:0;
  height:100vh;

  @include background-image($blue-gradient);

  img{
    top:-40px;
    width:65%;
    position:relative;

    @media #{$medium-up}{
      top:34px;
    }

    @include opacity(0);
    @include transform(translate3d(-10px, 65px, 0));
    @include transition(all 700ms $easing);
  }

  @media #{$medium-up}{
    img{
      @include transform(translate3d(-10px, -55px, 0));
    }
  }

}

[blue-header].animated-in{

  img{
    @include opacity(1);
    @include transform(translate3d(0, 65px, 0));
  }

  @media #{$medium-up}{
    img{
      @include transform(translate3d(0, -55px, 0));
    }
  }

}

