[content]{
  display:none;
}

[content].is-shown{
  display:block;
}

[content] .gradient-container{

  padding-bottom: 160px;

  @media #{$medium-up}{
    padding-bottom: 0;
  }

  overflow:hidden;
  @include background-image($blue-gradient);
}