[content]{
  display:none;
}

[content].is-shown{
  display:block;
}

[content] .gradient-container{

  position:absolute;
  bottom:0;
  top:0;
  left:0;
  right:0;

  @media #{$medium-up}{
    padding-bottom: 0;
  }

  overflow:hidden;

  @include background-image($blue-gradient);
}