[content]{
  display:none;
}

[content].is-shown{

  height:100%;

  @include flexbox((
    display: flex,
    flex-direction: row,
    justify-content: center,
    align-items: center
  ));

}

[content] .gradient-container{

  height: calc(100% - 40px);
  overflow:hidden;
  width: calc(100% - 40px);
  @include background-image($blue-gradient);

}