[featured-article]{

  margin-bottom: 25px;
  margin-top:100px;
  padding-bottom: 120px;
  position:relative;

  @media #{$medium-up}{
    padding-bottom: 260px;
    margin-top:350px;
  }

  @media #{$large-up}{
    margin-bottom: 24px;
  }

  @media #{$xlarge-up}{
    margin-bottom: 65px;
  }

  //
  // Base Styles
  //
  .content{
    position:relative;
    z-index:4;

    @media #{$medium-only}{
      top:-183px;
    }

    @media #{$large-up}{
      top:-140px;
    }

  }

  #the-latest{
    @include transition(all 500ms $easing);
  }

  h1{
    margin-bottom:0;
    margin-top:60px;
    position:relative;
    @include font("Erato", 46px, 400);
    @include transition(all 500ms 200ms $easing);

    @media #{$medium-up}{
      margin-top:90px;
      @include font("Erato", 55px, 400, 75px);
    }

  }

  h3{
    color: $black;
    display:none;
    text-transform:uppercase;
    @include transition(all 500ms 200ms $easing);

    @media #{$medium-up}{
      display:block;
      margin: 15px 0 0 0;
      @include font("DecimaMono", 22.6px, 400, 26px);
    }

  }

  .intro-big{
    &::before{
      background-color: $blue;
      content: "";
      display:none;
      height:75px;
      left:-26px;
      position:absolute;
      top:-18px;
      width:75px;
      z-index:-2;
      @include border-radius(50%);

      @media #{$medium-up}{
        bottom:-135px;
        display:block;
      }
    }
    margin-top:40px;
    position:relative;
    z-index:4;
    @include font("Erato", 22.6px, 400, 36px);
    @include transition(all 500ms 400ms $easing);
  }

  .big-letter{
    position:relative;
    top:6px;
    @include font("Erato", 32px, 400, 32px);
  }

  .intro-small{
    @include font("Erato", 18px, 400, 32px);
    @include transition(all 500ms 400ms $easing);
  }

  #the-latest, h1, h3, .intro-big, .intro-small, .continue-reading{
    @include opacity(0);
    @include transform(translateX(20px));
  }


  //
  // CONTINUE READING LINK
  //
  .continue-reading{

    display:inline-block;
    position:relative;
    @include font("DecimaMono", 18px);
    @include transition(all 500ms 400ms $easing);

    &::before{
      border: 3px solid #C3ECF0;
      content: "";
      left: 0px;
      position: absolute;
      width: 172px;
      height: 0px;
      top: 5px;
      z-index: 1;
      @include transition(all 400ms $easing);
    }

    &:hover{

      &::before{
        height: 31px;
        left: -5px;
        top: -8px;
        width: 185px;
      }

    }

    span{
      position:relative;
      z-index:2;
    }

  }


  //
  // Our header at the bottom
  //
  .past-thoughts-container{
    position:absolute;
    height:67px;
    width:100%;
    bottom:-106px;
    left:0;

    @media #{$medium-only}{
      bottom:83px;
    }

    @media #{$large-up}{
      bottom:45px;
    }

    .title-container{
      position:relative;
      z-index:5;
    }

    #past-thoughts{
      @include opacity(0);
      @include transition(all 500ms 600ms $easing);
    }
  }

  //
  // Grey rotated background
  //

  .bg{
    background-color: $grey;
    height:100%;
    left:-50%;
    overflow:hidden;
    position:absolute;
    top:10px;
    width:200%;
    z-index:3;
    @include transform(rotate(7deg) translateY(145%));
    @include transition(all 1000ms $easing);

    @media #{$medium-up}{
      top:-213px;
    }
  }

  //
  //
  //
  .mountain{

    left: -200px;

    @media #{$medium-only}{
      left: 155px;
    }

    @media #{$large-up}{
      left: 355px;
    }

    @media #{$xlarge-up}{
      left: 550px;
    }

    @media #{$xxlarge-up}{
      left: 785px;
    }

    bottom: -345px;

    height:593px;
    width:633px;
    position: absolute;
    z-index:1;
    @include transform(rotate(15deg));

  }

}

//
// Animations
//

.containers-animated-in [featured-article]{
  .bg{
    @include transform(rotate(-15deg) translateY(0));
  }
}

[featured-article].animated-in{

  #the-latest{
    @include opacity(1);
    @include transform(translateX(0));
  }

  h1{
    @include opacity(1);
    @include transform(translateX(0));
  }

  h3{
    @include opacity(1);
    @include transform(translateX(0));
  }

  .intro-big{
    @include opacity(1);
    @include transform(translateX(0));
  }

  .intro-small{
    @include opacity(1);
    @include transform(translateX(0));
  }

  .continue-reading{
    @include opacity(1);
    @include transform(translateX(0));
  }

  #past-thoughts{
    @include opacity(1);
    @include transform(translateX(0));
  }

}